<body>
  <div class="banner">
  </div>

  <div class="container">
    <div class="card card-create">
      <h2>Create your new list</h2>
      <%= simple_form_for(@list) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit class:'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</body>
